<div class="navbar">
  <img src="../../assets/logo.svg" alt="Site logo" class="logo">
  <div class="nav-left">
    <ul class="nav-flex list">
      <li><a href="#">Courses</a></li>
      <li><a href="#">Interest Test</a></li>
      <li><a href="#">Saved Courses</a></li> <!--SHOULD ONLY BE DISPLAYED IF USER IS LOGGED IN -->
    </ul>
  </div>
  <div class="nav-right">
    <ul class="nav-flex list">
      <li><a href="#">Comparison</a></li>
      <li><a href="#">Login</a></li>
      <li><a href="#"></a></li>
    </ul>
  </div>
</div>